@charset "UTF-8";

html {
    text-align: -webkit-center;
}
.header {
    background-color: aliceblue;
    width: -webkit-fill-available;
    height: auto;
    padding: 1%;
    margin: 10px;
    font-size: xx-large;
}

.nav {
    width: -webkit-fill-available;
    height: 30px;
    padding: 10px;
    margin: 10px;
}

.nav_left {
    background-color: aliceblue;
    width: 20%;
    float: left;
    font-size: x-large;
    margin-left: 2%;
}

.nav_right {
    background-color: aliceblue;
    width: 20%;
    float: right;
    font-size: x-large;
}

.contents {
    background-color: aliceblue;
    width: -webkit-fill-available;
    height: 100px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.main {
    float: left;
    width: 80%;
    height: 100%;
}

.main_title {
    background-color: white;
    margin-right: 1%;
    margin-bottom: 10px;
}

.main_contents {
    background-color: white;
    margin-right: 1%;
    margin-bottom: 10px;
}

.sub {
    float: right;
    width: 20%;
    height: 100%;
}

.sub_category {
    background-color: white;
    margin-right: 1%;
    margin-bottom: 10px;
}

.sub_new {
    background-color: white;
    margin-right: 1%;
    margin-bottom: 10px;
}

.footer {
    background-color: aliceblue;
    width: -webkit-fill-available;
    height: auto;
    padding: 1%;
    margin: 10px;
    font-size: 20px;
}